# Calling Necessary Libraries AND Getting Today's Date

In [1]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from datetime import datetime, timedelta
from dateutil import parser
from scipy.stats import poisson
import warnings

warnings.filterwarnings('ignore')
pd.options.mode.chained_assignment = None
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Get today's date
given_date = "2024-10-21" #year-month-day
threshold = 80 #threshold for percentages to highlight in final dataframe (between 1 and 100)

wanted_leagues = ['argentina', 'austria', 'belgium',
                  'brazil', 'denmark', 'portugal2',
                  'england', 'england2', 'england3', 'england4', 'england5', 'france', 'france2',
                  'germany', 'germany2', 'greece', 'italy', 'italy2',
                   'mexico', 'netherlands', 'norway','poland', 'portugal',
                  'scotland', 'spain', 'spain2', 'sweden',
                  'switzerland', 'turkey', 'usa']

In [2]:
#Calculating Days between given date and today
# Today's date
today = datetime.now().date()

# Specific date
specific_date = datetime.strptime(given_date, "%Y-%m-%d").date()

# Calculate the difference in days
difference = specific_date - today

# Add one day to the difference
days_until_specific_date = difference.days + 1

# Scraping Today's Matches and Leagues

In [3]:
URL = "https://www.soccerstats.com/matches.asp?matchday=" + str(days_until_specific_date) + "&listing=2"
page = requests.get(URL)
liqa = []
soup = BeautifulSoup(page.content, "html.parser")
results = soup.find(id="btable")
sth = results.find_all("tr", attrs={'height': '34'})

In [4]:
# Initialize lists to store extracted data
league_list = []
home_team_list = []
away_team_list = []

# Iterate through each <tr> element
for tr_element in sth:
    # Find the <td> element with sorttable_customkey attribute
    td_element = tr_element.find('td', attrs={'sorttable_customkey': True})
    
    # Check if <td> element exists and contains an <img> element with the alt attribute
    if td_element and td_element.find('img', alt=True):
        # Extract league info
        league = td_element['sorttable_customkey']
        if league in wanted_leagues:
            league_list.append(league)
        
        # Find <td> elements with class "steam"
        td_elements_steam = tr_element.find_all('td', class_='steam')
        
        # Extract home and away team info
        if len(td_elements_steam) == 2 and league in wanted_leagues:
            home_team = td_elements_steam[0].get_text(strip=True)
            away_team = td_elements_steam[1].get_text(strip=True)
            home_team_list.append(home_team)
            away_team_list.append(away_team)
        else:
            continue
    else:
        continue

# Create DataFrame
matches = pd.DataFrame({
    'league': league_list,
    'home_team': home_team_list,
    'away_team': away_team_list
})

# Display DataFrame
matches.head()

Empty DataFrame
Columns: [league, home_team, away_team]
Index: []

# Converting Date and Collecting Leagues for Analysis

In [5]:
from dateutil import parser

day_abbreviations = {0: "Mo", 1: "Tu", 2: "We", 3: "Th", 4: "Fr", 5: "Sa", 6: "Su"}
given_date_parsed = parser.parse(given_date)

# Manually format the day to remove leading zeros
day = given_date_parsed.day
month = given_date_parsed.strftime('%b')

# Format the date as "Su 1 Oct" or "Tu 10 Oct" without leading zero for single-digit days
formatted_date = f"{day_abbreviations[given_date_parsed.weekday()]} {day} {month}"

# Scraping the Web for the League Statistics

In [6]:
final =  pd.DataFrame()
liqa = ''
unique_leagues = wanted_leagues#matches['league'].unique().tolist()
next_matches = pd.DataFrame()

for i in unique_leagues:
    URL = "https://www.soccerstats.com/results.asp?league=" + i + "&pmtype=bydate"
    page = requests.get(URL)
    liqa = i
    soup = BeautifulSoup(page.content, "html.parser")
    results = soup.find(id="btable")
    sth = results.find_all("tr", class_="odd")
    sth


    date, league, home, away, ft, ht = [], [], [], [], [],[]
    for i in sth:
        date.append(i.find_all("td", align = 'right')[0].get_text(strip=True))
        league.append(liqa.capitalize())
        home.append(i.find_all("td", align = 'right')[1].get_text(strip=True))
        away.append(i.find("td", align = "left").get_text(strip = True))
        ft.append(i.find_all("td", align = 'center')[0].get_text(strip = True))
        try:
            ht.append(i.find_all("td", align = 'center')[2].get_text(strip = True))
        except IndexError as e:
            ht.append('NA')#print("Last output before error occurred:", i.find_all("td", align = 'center'))

    data = {'Date': date, 'League': league,'Home': home, 'Away': away, 'FT': ft, 'HT': ht}

# Create a DataFrame from the dictionary
    df = pd.DataFrame(data)

# Replace empty strings with NaN
    next_df = df[(df['Date'] == formatted_date) & (df['HT'] == '')]
    next_matches = pd.concat([next_matches, next_df], ignore_index = True)
    df.replace('', pd.NA, inplace=True)

# Drop rows with NaN values
    df_cleaned = df.dropna()

#For Half-Time Results
    hthg, htag = [], []
    for i in df_cleaned['HT']:
        if i == 'NA':
            hthg.append('NA')
            htag.append('NA')
        elif i == '+' or i == '-':
            hthg.append('NA')
            htag.append('NA')
        else:
            try:
                hthg.append(int(i[1]))
                htag.append(int(i[3]))
            except IndexError as e:
                print("Last output before error occurred:", i)



#For Full-Time Results
    hg, ag, tg = [], [], []
    for i in df_cleaned['FT']:
        if len(i) < 5 or ':' in i:
            hg.append('NA')
            ag.append('NA')
            tg.append('NA')
        else:
            try:
                hghg = int(i.split(' - ')[0])
                hg.append(hghg)
                agag = int(i.split(' - ')[1])
                ag.append(agag)
                tg.append(hghg + agag)
            except:
                print(hghg + agag)

    
    df_cleaned['FTHG'], df_cleaned['FTAG'], df_cleaned['FTTG'] = hg, ag, tg
    df_cleaned['HTHG'], df_cleaned['HTAG'] = hthg, htag
    df_cleaned['HTTG'] = df_cleaned['HTHG'] + df_cleaned['HTAG']
    
    final = pd.concat([final, df_cleaned], ignore_index=True)
    
final = final[final['HT'] != 'NA']
combined_df = pd.concat([final.head(), final.tail()])
combined_df

,Date,League,Home,Away,FT,HT,FTHG,FTAG,FTTG,HTHG,HTAG,HTTG
0,Fr 10 May,Argentina,Sarmiento,Instituto,1 - 2,(0-1),1,2,3,0,1,1
1,Sa 11 May,Argentina,Argentinos Jrs,Rosario Central,3 - 2,(2-2),3,2,5,2,2,4
2,Sa 11 May,Argentina,Newells,Platense,2 - 0,(0-0),2,0,2,0,0,0
3,Sa 11 May,Argentina,Huracan,Defensa y J.,3 - 1,(1-0),3,1,4,1,0,1
4,Sa 11 May,Argentina,Godoy Cruz,Barracas C.,0 - 1,(0-0),0,1,1,0,0,0
3509,Su 6 Oct,Usa,SJ Earthquakes,Real Salt Lake,0 - 1,(0-0),0,1,1,0,0,0
3510,Su 6 Oct,Usa,New York City,Nashville SC,3 - 1,(3-0),3,1,4,3,0,3
3511,Mo 7 Oct,Usa,Portland,Dallas,0 - 0,(0-0),0,0,0,0,0,0
3512,Su 13 Oct,Usa,Columbus Crew,New England,4 - 0,(2-0),4,0,4,2,0,2
3513,Mo 14 Oct,Usa,Vancouver,Los Angeles FC,1 - 2,(0-1),1,2,3,0,1,1

In [7]:
next_leagues = next_matches['League'].unique().tolist()
pd.concat([next_matches.head(), next_matches.tail()])

         Date   League           Home            Away     FT HT
0   Mo 21 Oct   Brazil      Juventude       Palmeiras  00:00
1   Mo 21 Oct  Denmark     AGF Aarhus      Brondby IF  18:00
2   Mo 21 Oct  England   Nottm Forest  Crystal Palace  20:00
3   Mo 21 Oct  France2         Troyes        Paris FC  19:45
4   Mo 21 Oct    Italy  Hellas Verona           Monza  19:45
6   Mo 21 Oct    Spain       Valencia      Las Palmas  20:00
7   Mo 21 Oct   Spain2       Albacete          Burgos  19:30
8   Mo 21 Oct   Sweden     Norrkoping  Brommapojkarna  18:00
9   Mo 21 Oct   Sweden   IFK Goteborg             AIK  18:10
10  Mo 21 Oct   Turkey     Bodrumspor        Rizespor  18:00

# Calculating Functions Needed for Dixon-Coles Model

In [8]:
from scipy.optimize import minimize
from scipy.stats import poisson

def rho_correction(x, y, lambda_x, mu_y, rho):
    if x==0 and y==0:
        return 1- (lambda_x * mu_y * rho)
    elif x==0 and y==1:
        return 1 + (lambda_x * rho)
    elif x==1 and y==0:
        return 1 + (mu_y * rho)
    elif x==1 and y==1:
        return 1 - rho
    else:
        return 1.0

def dc_log_like(x, y, alpha_x, beta_x, alpha_y, beta_y, rho, gamma):
    lambda_x, mu_y = np.exp(alpha_x + beta_y + gamma), np.exp(alpha_y + beta_x) 
    return (np.log(rho_correction(x, y, lambda_x, mu_y, rho)) + 
            np.log(poisson.pmf(x, lambda_x)) + np.log(poisson.pmf(y, mu_y)))



def solve_parameters(dataset, half_or_full = 'full', debug = False, init_vals=None, options={'disp': True, 'maxiter':100},
                     constraints = [{'type':'eq', 'fun': lambda x: sum(x[:20])-20}] , **kwargs):
    teams = np.sort(dataset['Home'].unique())
    # check for no weirdness in dataset
    away_teams = np.sort(dataset['Away'].unique())
    if not np.array_equal(teams, away_teams):
        raise ValueError("Something's not right")
    n_teams = len(teams)
    if init_vals is None:
        # random initialisation of model parameters
        init_vals = np.concatenate((np.random.uniform(0,1,(n_teams)), # attack strength
                                      np.random.uniform(0,-1,(n_teams)), # defence strength
                                      np.array([0, 1.0]) # rho (score correction), gamma (home advantage)
                                     ))

    def estimate_paramters(params):
        score_coefs = dict(zip(teams, params[:n_teams]))
        defend_coefs = dict(zip(teams, params[n_teams:(2*n_teams)]))
        rho, gamma = params[-2:]
        if half_or_full == 'full':
            log_like = [dc_log_like(row.FTHG, row.FTAG, score_coefs[row.Home], defend_coefs[row.Home],
                        score_coefs[row.Away], defend_coefs[row.Away], rho, gamma) for row in dataset.itertuples()]
        elif half_or_full == 'half':
            log_like = [dc_log_like(row.HTHG, row.HTAG, score_coefs[row.Home], defend_coefs[row.Home],
                        score_coefs[row.Away], defend_coefs[row.Away], rho, gamma) for row in dataset.itertuples()]

        return -sum(log_like)
    opt_output = minimize(estimate_paramters, init_vals, options=options, constraints = constraints, **kwargs)
    if debug:
        # sort of hacky way to investigate the output of the optimisation process
        return opt_output
    else:
        return dict(zip(["attack_"+team for team in teams] + 
                        ["defence_"+team for team in teams] +
                        ['rho', 'home_adv'],
                        opt_output.x))

# Calculating Lambda Values for Dixon-Coles Model

In [9]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
stats_df = pd.DataFrame()
full_time_models = []
half_time_models = []

for league in next_leagues:
    league_df = final[final['League'] == league.capitalize()]
    
    full_time_estimates = solve_parameters(league_df, half_or_full = 'full')
    full_time_models.append(full_time_estimates)

    half_time_estimates = solve_parameters(league_df, half_or_full = 'half')
    half_time_models.append(half_time_estimates)

Optimization terminated successfully    (Exit mode 0)
            Current function value: 771.4327160963404
            Iterations: 35
            Function evaluations: 1556
            Gradient evaluations: 35
Optimization terminated successfully    (Exit mode 0)
            Current function value: 526.9660986390387
            Iterations: 39
            Function evaluations: 1721
            Gradient evaluations: 39
Optimization terminated successfully    (Exit mode 0)
            Current function value: 183.23504913917597
            Iterations: 35
            Function evaluations: 980
            Gradient evaluations: 35
Optimization terminated successfully    (Exit mode 0)
            Current function value: 140.8928163304176
            Iterations: 36
            Function evaluations: 1007
            Gradient evaluations: 36
Optimization terminated successfully    (Exit mode 0)
            Current function value: 194.42778003391663
            Iterations: 41
            Function evaluations: 1807
            Gradient evaluations: 41
Optimization terminated successfully    (Exit mode 0)
            Current function value: 141.4985553876167
            Iterations: 55
            Function evaluations: 2406
            Gradient evaluations: 55
Optimization terminated successfully    (Exit mode 0)
            Current function value: 202.92080743174193
            Iterations: 42
            Function evaluations: 1682
            Gradient evaluations: 42
Optimization terminated successfully    (Exit mode 0)
            Current function value: 142.04725777300766
            Iterations: 52
            Function evaluations: 2137
            Gradient evaluations: 52
Optimization terminated successfully    (Exit mode 0)
            Current function value: 181.81091399594487
            Iterations: 47
            Function evaluations: 2070
            Gradient evaluations: 47
Optimization terminated successfully    (Exit mode 0)
            Current function value: 128.90202553651554
            Iterations: 48
            Function evaluations: 2097
            Gradient evaluations: 48
Optimization terminated successfully    (Exit mode 0)
            Current function value: 262.27787376528033
            Iterations: 48
            Function evaluations: 1923
            Gradient evaluations: 48
Optimization terminated successfully    (Exit mode 0)
            Current function value: 178.5208029779672
            Iterations: 35
            Function evaluations: 1402
            Gradient evaluations: 35
Optimization terminated successfully    (Exit mode 0)
            Current function value: 222.45274257136015
            Iterations: 52
            Function evaluations: 2293
            Gradient evaluations: 52
Optimization terminated successfully    (Exit mode 0)
            Current function value: 143.25199658454392
            Iterations: 41
            Function evaluations: 1800
            Gradient evaluations: 41
Optimization terminated successfully    (Exit mode 0)
            Current function value: 258.02344531403077
            Iterations: 38
            Function evaluations: 1829
            Gradient evaluations: 38
Optimization terminated successfully    (Exit mode 0)
            Current function value: 159.48455070034603
            Iterations: 59
            Function evaluations: 2890
            Gradient evaluations: 59
Optimization terminated successfully    (Exit mode 0)
            Current function value: 606.0014618422738
            Iterations: 44
            Function evaluations: 1601
            Gradient evaluations: 44
Optimization terminated successfully    (Exit mode 0)
            Current function value: 410.3306252485772
            Iterations: 42
            Function evaluations: 1517
            Gradient evaluations: 42
Optimization terminated successfully    (Exit mode 0)
            Current function value: 194.26061105325076
            Iterations: 41
            Function evaluations: 1725
            Gradient evaluations: 41
Optimization terminated successfully    (Exit mode 0)
            Current function value: 129.13598281553845
            Iterations: 28
            Function evaluations: 1179
            Gradient evaluations: 28

In [10]:
full_time_models[-1]

{'attack_Adana Demirspor': 0.72270858001221,
 'attack_Alanyaspor': 0.4858271266264386,
 'attack_Antalyaspor': 1.0000944203939477,
 'attack_Basaksehir': 1.5355513957883613,
 'attack_Besiktas': 1.6450294942191008,
 'attack_Bodrumspor': 0.46565470045044255,
 'attack_Eyupspor': 1.526466295868051,
 'attack_Fenerbahce': 1.4158370584914108,
 'attack_Galatasaray': 1.788844791488554,
 'attack_Gaziantep': 1.167391643347916,
 'attack_Goztepe': 1.7203105823788976,
 'attack_Hatayspor': 0.5502703606755992,
 'attack_Kasimpasa': 0.8643649107560766,
 'attack_Kayserispor': 0.950119925702769,
 'attack_Konyaspor': 1.2695308748488217,
 'attack_Rizespor': 0.12063466365662165,
 'attack_Samsunspor': 1.080569409964563,
 'attack_Sivasspor': 0.8198969386306785,
 'attack_Trabzonspor': 1.01966062887564,
 'defence_Adana Demirspor': -0.14876380217610427,
 'defence_Alanyaspor': -1.1316383335298288,
 'defence_Antalyaspor': -0.4762339793750367,
 'defence_Basaksehir': -0.625868506535182,
 'defence_Besiktas': -1.4759500590064119,
 'defence_Bodrumspor': -1.07440529542332,
 'defence_Eyupspor': -0.9119277432817587,
 'defence_Fenerbahce': -1.5477681201371365,
 'defence_Galatasaray': -0.9910454235550146,
 'defence_Gaziantep': -0.819100256173968,
 'defence_Goztepe': -0.6354294891578898,
 'defence_Hatayspor': -0.6142056167448184,
 'defence_Kasimpasa': -0.7268227584832432,
 'defence_Kayserispor': -0.7556479877282892,
 'defence_Konyaspor': -0.9144519558849123,
 'defence_Rizespor': -0.5274881061607988,
 'defence_Samsunspor': -1.4850470970026142,
 'defence_Sivasspor': -1.0525601684895485,
 'defence_Trabzonspor': -1.2218243132756308,
 'rho': -0.47717315728910553,
 'home_adv': 0.06453574822874121}

# Calculating Probability Matrices for Half/Full Time

In [11]:
#First Function needs work to make it more understandable and a df rather than matrix!
def dixon_coles_simulate_match(params_dict, homeTeam, awayTeam, max_goals=10):
    team_avgs = [np.exp(params_dict['attack_'+homeTeam] + params_dict['defence_'+awayTeam] + params_dict['home_adv']),
                 np.exp(params_dict['defence_'+homeTeam] + params_dict['attack_'+awayTeam])]
    team_pred = [[poisson.pmf(i, team_avg) for i in range(0, max_goals+1)] for team_avg in team_avgs]
    output_matrix = np.outer(np.array(team_pred[0]), np.array(team_pred[1]))
    correction_matrix = np.array([[rho_correction(home_goals, away_goals, team_avgs[0],
                                                   team_avgs[1], params_dict['rho']) for away_goals in range(2)]
                                   for home_goals in range(2)])
    output_matrix[:2,:2] = output_matrix[:2,:2] * correction_matrix
    return output_matrix

full_time_matrices = []
half_time_matrices = []

for i in range(len(next_matches)):
    my_league = next_matches['League'].iloc[i]
    league_index = next_leagues.index(my_league)
    ft_match_score_matrix = dixon_coles_simulate_match(full_time_models[league_index], 
                                                       next_matches['Home'].iloc[i], next_matches['Away'].iloc[i], max_goals = 8)
    ht_match_score_matrix = dixon_coles_simulate_match(half_time_models[league_index], 
                                                       next_matches['Home'].iloc[i], next_matches['Away'].iloc[i], max_goals = 4)
    full_time_matrices.append(ft_match_score_matrix)
    half_time_matrices.append(ht_match_score_matrix)

full_time_matrices[0]

array([[1.19334486e-01, 1.51220326e-01, 1.13895561e-01, 5.43093274e-02,
        1.94224187e-02, 5.55676698e-03, 1.32482896e-03, 2.70738895e-04,
        4.84116120e-05],
       [7.71250605e-02, 1.29815713e-01, 8.71159356e-02, 4.15398792e-02,
        1.48557341e-02, 4.25023547e-03, 1.01332934e-03, 2.07081574e-04,
        3.70288607e-05],
       [3.25619686e-02, 4.65800051e-02, 3.33164266e-02, 1.58864200e-02,
        5.68139423e-03, 1.62545069e-03, 3.87535444e-04, 7.91958214e-05,
        1.41612360e-05],
       [8.30195173e-03, 1.18759697e-02, 8.49430724e-03, 4.05037832e-03,
        1.44851994e-03, 4.14422524e-04, 9.88054679e-05, 2.01916504e-05,
        3.61052794e-06],
       [1.58749007e-03, 2.27090986e-03, 1.62427208e-03, 7.74508883e-04,
        2.76984388e-04, 7.92454188e-05, 1.88934728e-05, 3.86102516e-06,
        6.90401178e-07],
       [2.42846483e-04, 3.47392707e-04, 2.48473216e-04, 1.18480589e-04,
        4.23717198e-05, 1.21225774e-05, 2.89023126e-06, 5.90640785e-07,
        1.05614203e-07],
       [3.09578915e-05, 4.42853674e-05, 3.16751832e-05, 1.51038185e-05,
        5.40151575e-06, 1.54537727e-06, 3.68444560e-07, 7.52944539e-08,
        1.34636211e-08],
       [3.38270510e-06, 4.83897098e-06, 3.46108209e-06, 1.65036317e-06,
        5.90212512e-07, 1.68860195e-07, 4.02591790e-08, 8.22727006e-09,
        1.47114217e-09],
       [3.23418573e-07, 4.62651352e-07, 3.30912154e-07, 1.57790315e-07,
        5.64298934e-08, 1.61446303e-08, 3.84915795e-09, 7.86604762e-10,
        1.40655093e-10]])

# Calculating Probabilities of Dixon-Coles Model

In [12]:
ft1, ftx, ft2, ft_score = [], [], [], []
over_15, over_25, under_35, under_45, btts = [], [], [], [], []
ht1, htx, ht2, ht_score, ht_over05, ht_under15 = [], [], [], [], [], []
ho05, ao05, ho15, ao15, hu25, au25 = [], [], [], [], [], []

# Helper function to calculate total goals for each score
def total_goals(i, j):
    return i + j

for i in range(len(next_matches)):
    my_matrix = full_time_matrices[i]
    ht_matrix = half_time_matrices[i]

    ft1.append(round(np.sum(np.tril(my_matrix, k=-1)) * 100, 2)) # Sum of lower triangular values (home win)
    ftx.append(round(np.sum(np.diag(my_matrix)) * 100, 2)) # Sum of diagonal values (draw)
    ft2.append(round(np.sum(np.triu(my_matrix, k=1)) * 100, 2)) # Sum of higher triangular values (away_win)
    
    max_score = np.unravel_index(np.argmax(my_matrix), my_matrix.shape) # Find the index of the maximum score
    home_goals, away_goals = max_score
    ft_score.append(f"{home_goals}-{away_goals}") # Format the score as 'home-away'

    # Calculate the probabilities
    over_15.append(round(np.sum([my_matrix[i, j] for i in range(my_matrix.shape[0]) for j in range(my_matrix.shape[1]) if total_goals(i, j) > 1.5]) * 100, 2))
    over_25.append(round(np.sum([my_matrix[i, j] for i in range(my_matrix.shape[0]) for j in range(my_matrix.shape[1]) if total_goals(i, j) > 2.5]) * 100, 2))
    under_35.append(round(np.sum([my_matrix[i, j] for i in range(my_matrix.shape[0]) for j in range(my_matrix.shape[1]) if total_goals(i, j) <= 3.5]) * 100, 2))
    under_45.append(round(np.sum([my_matrix[i, j] for i in range(my_matrix.shape[0]) for j in range(my_matrix.shape[1]) if total_goals(i, j) <= 4.5]) * 100, 2))

    # Calculate BTTS (both teams to score and goals != 0)
    btts.append(round(np.sum([my_matrix[i, j] for i in range(1, my_matrix.shape[0]) for j in range(1, my_matrix.shape[1])]) * 100, 2)) 

    # Calculate statistics for Half Time
    ht1.append(round(np.sum(np.tril(ht_matrix, k=-1)) * 100, 2)) # Sum of lower triangular values (home win)
    htx.append(round(np.sum(np.diag(ht_matrix)) * 100, 2)) # Sum of diagonal values (draw)
    ht2.append(round(np.sum(np.triu(ht_matrix, k=1)) * 100, 2)) # Sum of higher triangular values (away_win)

    ht_max_score = np.unravel_index(np.argmax(ht_matrix), ht_matrix.shape) # Find the index of the maximum score
    ht_hogs, ht_awgs = ht_max_score
    ht_score.append(f"{ht_hogs}-{ht_awgs}") # Format the score as 'home-away'

    ht_over05.append(round(np.sum([ht_matrix[i, j] for i in range(ht_matrix.shape[0]) for j in range(ht_matrix.shape[1]) if total_goals(i, j) > 0.5]) * 100, 2))   
    ht_under15.append(round(np.sum([ht_matrix[i, j] for i in range(ht_matrix.shape[0]) for j in range(ht_matrix.shape[1]) if total_goals(i, j) < 1.5]) * 100, 2)) 

    ho05.append(round(np.sum(my_matrix[1:,:]) * 100, 2))
    ao05.append(round(np.sum(my_matrix[:,1:]) * 100, 2))
    ho15.append(round(np.sum(my_matrix[2:,:]) * 100, 2))
    ao15.append(round(np.sum(my_matrix[:,2:]) * 100, 2))
    hu25.append(round(np.sum(my_matrix[:3,:]) * 100, 2))
    au25.append(round(np.sum(my_matrix[:,:3]) * 100, 2))
    

# Combine lists into a DataFrame
final_results = pd.DataFrame({
    'League': next_matches['League'], 'Home': next_matches['Home'], 'Away': next_matches['Away'],
    'FT1': ft1, 'FTX': ftx, 'FT2': ft2, 'FTR': ft_score,
    'DC1X': [x + y for x, y in zip(ft1, ftx)], 'DC12': [x + y for x, y in zip(ft1, ft2)], 'DCX2': [x + y for x, y in zip(ftx, ft2)],
    '1.5O': over_15, '2.5O': over_25, '3.5U': under_35, '4.5U': under_45, 'BTTS': btts,
    'HT1': ht1, 'HTX': htx, 'HT2': ht2, 'HTR': ht_score,
    'HTDC1X': [x + y for x, y in zip(ht1, htx)], 'HTDC12': [x + y for x, y in zip(ht1, ht2)], 'HTDCX2': [x + y for x, y in zip(htx, ht2)],
    'HT0.5O': ht_over05, 'HT1.5U': ht_under15, 'H0.5O':ho05, 'A0.5O':ao05, 'H1.5O':ho15, 'A1.5O':ao15, 'H2.5U':hu25, 'A2.5U':au25
})

# Function to highlight values higher than threshold
def highlight_values(value):
    if isinstance(value, str):
        return ''  # Return empty string for NaN values
    elif value > threshold:
    #color = 'red'
        return 'background-color: red'
    else:
        return ''

# Apply the style
with pd.option_context('display.precision', 2):
    styled_df = final_results.style.applymap(highlight_values)
styled_df.to_excel(given_date + ".xlsx", index = False)
# Display the styled DataFrame
from IPython.display import display, HTML
display(styled_df)